:root{
    --mainColor:#F8F8F8;
    --secondaryColor:#F4F4F4;
    --borderColor:#D9D9D9;
    --mainText: #414040;
    --secondaryText:#5E5F63;
    --lightBlue: #4774B8;
    --darkBlue: #4774B8;
    --themeDotBorder:#23292e;
    --previewBg: rgb(251, 249, 243, 0.6);
    --previewShadow: #f0ead6;
}


@font-face{
    font-family: SF-Compact;
    src: 
        url("fonts/SF Compact/SF-Compact.ttf")
        ;
}
@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Black.otf");
    font-style: normal;
    font-weight: 900;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Heavy.otf");
    font-style: normal;
    font-weight: 800;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Bold.otf");
    font-style: normal;
    font-weight: 700;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Semibold.otf");
    font-style: normal;
    font-weight: 600;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Medium.otf");
    font-style: normal;
    font-weight: 500;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Regular.otf");
    font-style: normal;
    font-weight: 400;
}

@font-face{
        font-family: SF-Compact-Rounded;
        src: url("fonts/SF Compact/SF-Compact-Rounded-Light.otf");
        font-style: normal;
        font-weight: 300;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Thin.otf");
    font-style: normal;
    font-weight: 200;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Ultralight.otf");
    font-style: normal;
    font-weight: 100;
}

html, body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.top-left-blob{
    position: absolute;
    left: -300px;
    width: 80%;
    padding-right: 100px;
    margin:auto;
    flex-shrink: 0;
    flex-shrink: 0;
    z-index: -1;
}

.bottom-right-blob{
    position: absolute;
    width: 65%;
    margin:auto;
    flex-shrink: 0;
    z-index: -1;
    bottom: -80px;
    right: 0px;
}
.front{
    justify-content: space-evenly;
}
.s1{

    width: 100%;
    position: absolute;
    height: 12.5%;
    display:flex;
justify-content: center;
}
.s2{
    width: 100%;
    position: absolute;
    top: 12.5%;
    display: flex;
    justify-content: center;
    height: 75%;
}

.s3{
    position: absolute;
    bottom: 0px;

    height: 12.5%;
    width: 100%;


    display: flex;
    justify-content: center;
}
body{
    display: block;
    margin:auto;    
    background: linear-gradient(178.86deg, rgba(255, 247, 231, 0.81) -13.02%, rgba(248, 209, 109, 0.57871) 152.07%);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh!important;
    justify-content: space-between;
}

h3{
    margin: 0;
    display: flex;

    flex-direction: column;
    justify-content: center;
    flex-shrink: 0; 

    margin-top: 20px;
    margin-left:27.5px;

    color: var(--mainText);
    font-family: 'SF-Compact', sans-serif;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}


a{
    text-decoration: none;
    color: #17a2b8;

}


ul{
    list-style: none;
    padding: 0;
    margin: 0;
}



.nav-bar{
    display:flex;
    justify-content: center;

    list-style: none;
    gap: 95px;
}


.header-logo svg{
    width: 10vw;
    height:auto;
    display:flex;
    text-align: center;
    align-content: center;
    margin: auto;
}


.nav-bar h6{
    justify-content: center;
    text-align: center;
    margin: 0;
    color: var(--mainText);
    font-family: 'SF-Compact';
    font-size: 1.333rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;

    text-shadow: 0px .5px 8px rgba(0, 0, 0, 0.15);

}

.nav-bar li{
    display: flex;
    text-align:center;
    
}



.nav-bar li button{
    background-color: transparent;
    background-repeat:no-repeat;
    cursor: pointer;
    border:none;
}

#nav-home-btn{
    justify-content: center;
    margin: auto;
    border-radius: 2px;
}


.left-right-content{
    width: auto;
    display: flex;
    justify-content: center;
    gap: 125px;
    width: 70%;
    
    margin: 0 auto;
    
}

.greeting-wrapper{
    display: block;
    height: fit-content;
    text-align: center;
    align-content: center;
    padding-bottom: 75px;
    gap: 25px;
}

.greeting-wrapper h1{
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    margin: 0;


}

.intro-wrapper{
    margin:auto;
    width: 66.666%;
    height: 100%;
/* From https://css.glass */
    background: rgba(244, 244, 244, 0.45);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1.5px solid var(--borderColor);
    border-radius: 10px;

    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.60);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.60);

}

.nav-wrapper{
    display: flex;
    height: 6.5%;
    justify-content: space-between;
    border-bottom: 1.0px solid var(--borderColor);
    box-shadow: 0px .5px 10px 0px rgba(0, 0, 0, 0.10); 
    border-radius: 5px 5px 0 0;

    background-color: var(--mainColor);
}

.vector{
    display: flex;
    justify-content: right;
    width: 20px;
    margin: auto 0;
    margin-right: 12px;
}

.dots-wrapper{
    display:flex;
    padding-left: 12px;
    margin: auto 0;
    gap: 8px;
}

.browser-dot{
    margin: 0;
    height: 12px;
    width: 12px;
    background-color: black;
    border-radius:50%;
    border-style: none;
    border-color: transparent;
     box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}

#dot-1{
    background-color:#FC6058;

}

#dot-2{
    background-color:#FEC02F;

}
#dot-3{
    background-color:#2ACA3E;

}

.left-column{
    margin: 0;
    display: flex;
    justify-content: center;
}   

#profile_pic{
    width: 350px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}

#theme-options-wrapper{
    display: flex;
    justify-content: center;
}

.theme-dot{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    margin:5px;

    border:2px solid var(--themeDotBorder);

    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    cursor:pointer;
}

.theme-dot:hover{
    border-width:  5px;
}

#settings-note{
    font-size:12px;
    font-style: italic;
    text-align: center;

}
/* Home Right Column Content*/

.right-column{
    display: block;
    justify-content: center;
}
#preview{
    display: block;
    width: 300px;
    height: 200px;  
    border: 1.7px solid var(--lightBlue);
    background-color: var(--previewBg);
    position: relative;
    padding-right: 25px;
    padding-bottom: 25px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.20);
}

#preview p{
    margin:0;
    display: flex;
    width: 250px;
    justify-content: center;
    flex-shrink: 0;
    margin-left:27.5px;
    margin-top: 10px;
    
    color: var(--mainText);
    font-family: 'SF-Compact-Rounded', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.preview-block{
    justify-content: center;
}
#preview-shadow{
    background-color: var(--previewShadow);
    width: 300px;
    height: 200px;
    justify-content: center;
    padding-left: 25px;
    padding-top: 25px;
    box-shadow: 0px 1.5px 5px 0px rgba(0, 0, 0, 0.20);
}
.corner{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1.7px solid var(--lightBlue);
    background-color: #fff;
    position: absolute;
}


/* HOME BUTTONS */
.home-buttons{
    display:flex;
    list-style: none;
    justify-content: center;
    margin-top: 75px;
    gap: 20px;
}

.portfolio-button{
    justify-content: center;
    display:flex;
    width: 185px;
    height: 55px;
    border-style: none;
    background-color: var(--darkBlue);
    border-radius: 50px;
    gap: 7.5px;
    box-shadow: 0px 1.5px 5px 0px rgba(0, 0, 0, 0.15);
}


.home-buttons li{
    display: flex;
    justify-content: center;
    text-align: center;;
    margin: 0;
    padding: 0;
}

.portfolio-button h4{
    margin: auto 0;
    display:flex;
    justify-content: center;
    padding: 0;

    color: #F7F6F4;
    font-family: SF-Compact-Rounded;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.246px;
    text-transform: capitalize;

}
a{
    display: flex;
    margin: 0;
}
.learn-more{
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    float: right;
    border-style: none;
    background-color: transparent;
}

.learn-more h4{
    color: var(--secondaryText);
    text-align: center;
    font-family: SF-Compact-Rounded;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-shadow: 0px .5px 5px rgba(0, 0, 0, 0.10);

}
.button-arrow{
    display:flex;
    justify-content: center;
    margin: auto 0;
}
.inner-browser{
    width:auto;
    height:93.5%;
    display: flex;


    

}
.inner-browser-content{
    display:block;
    margin:auto;
    padding-bottom: 50px;
    

}
#corner-tl{
    top:-5px;
    left:-5px;
}

#corner-tr{
    top:-5px;
    right:-5px;
}

#corner-br{
    bottom:-5px;
    right:-5px;
}

#corner-bl{
    bottom:-5px;
    left:-5px;
}


.task-bar{
    display: flex;
    margin:auto;
    width: 400px;
    height: 45px;
    padding:12px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 45%;
    flex-shrink: 0;
    border-radius: 5px;
    background: rgba(239, 239, 239, 0.45);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
}

.task-item{
    border-radius: 4px;
    border: 2px solid #E9E9E9;
    background: #F8F8F8;
    box-shadow: 0px 2.711559295654297px 5.423118591308594px 0px rgba(0, 0, 0, 0.25);
    display:flex;
    position: relative;
    width: 25%;
    height: 100%;
    justify-content: space-between;
}
