:root{
    --mainColor:#F8F8F8;
    --secondaryColor:#F4F4F4;
    --borderColor:#D9D9D9;
    --mainText: #414040;
    --secondaryText:#5E5F63;
    --lightBlue: #4774B8;
    --darkBlue: #4774B8;
    --themeDotBorder:#23292e;
    --previewBg: rgb(251, 249, 243, 0.6);
    --previewShadow: #f0ead6;
}

@font-face{
    font-family: SF-Compact;
    src: 
        url("fonts/SF Compact/SF-Compact.ttf")
    ;
}
@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Black.otf");
    font-style: normal;
    font-weight: 900;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Heavy.otf");
    font-style: normal;
    font-weight: 800;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Bold.otf");
    font-style: normal;
    font-weight: 700;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Semibold.otf");
    font-style: normal;
    font-weight: 600;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Medium.otf");
    font-style: normal;
    font-weight: 500;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Regular.otf");
    font-style: normal;
    font-weight: 400;
}

@font-face{
        font-family: SF-Compact-Rounded;
        src: url("fonts/SF Compact/SF-Compact-Rounded-Light.otf");
        font-style: normal;
        font-weight: 300;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Thin.otf");
    font-style: normal;
    font-weight: 200;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Ultralight.otf");
    font-style: normal;
    font-weight: 100;
}

.project-wrapper{
    display: inline-block;
    height: 93.5%;
    justify-content: center;
    width: 100%;
}
.greeting-wrapper{
    display: block;
    margin: 25px 50px;

}

.left-right-content{
    position:relative;
    height: 100%;

}
h1{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50px;
    float: left;
    padding: 0;

    text-align: left;
    font-family: Russo One;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.b2t-btn{
    float:right;
    display: flex; 
    height: 50px;

    background-color: transparent;
    border-color: transparent;
    gap: 2.5px;
}

.b2t-btn h2{
    margin:auto;
    color: var(--mainText);
    font-family: SF-Compact;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 19.444px */
}

.b2t-btn img{
    margin:auto;
}

.divider-img{
    display: block;
    margin: auto;
    width: 95%;
}

.left-column{
    display: block;
    width:45%;
    padding: 0 50px;
}
.right-column{
    display: block;
    width:50%;
}
h5{
    color: var(--mainText);
    font-family: SF-Compact;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    margin: 0;
    letter-spacing: 2.5%;
}
p{
    margin:10px 0;
    color: var(--header-color, #454545);
    font-family:"SF-Compact";
    font-size: 1.15rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 22.5px */
    letter-spacing: 125%;

}
.view-proj-btn{
    display: flex;
    justify-content: center;
    padding: 17.5px;
    border-radius: 6px;
    background: #FDC062;
    border-style: none;

    color: #1E1E1E;
    text-align: center;
    font-family: "SF-Compact";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 20px */
    letter-spacing: 0.5px;

    gap: 7.5px;
}
.proj-block{
    margin: 25px 0px;
}

img{
    margin: auto;
}
