
:root{
    --mainColor:#F8F8F8;
    --secondaryColor:#F4F4F4;
    --borderColor:#D9D9D9;
    --mainText: #414040;
    --secondaryText:#5E5F63;
    --lightBlue: #4774B8;
    --darkBlue: #4774B8;
    --themeDotBorder:#23292e;
    --previewBg: rgb(251, 249, 243, 0.6);
    --previewShadow: #f0ead6;
}

@font-face{
    font-family: SF-Compact;
    src: 
        url("fonts/SF Compact/SF-Compact.ttf")
        ;
}
@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Black.otf");
    font-style: normal;
    font-weight: 900;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Heavy.otf");
    font-style: normal;
    font-weight: 800;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Bold.otf");
    font-style: normal;
    font-weight: 700;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Semibold.otf");
    font-style: normal;
    font-weight: 600;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Medium.otf");
    font-style: normal;
    font-weight: 500;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Regular.otf");
    font-style: normal;
    font-weight: 400;
}

@font-face{
        font-family: SF-Compact-Rounded;
        src: url("fonts/SF Compact/SF-Compact-Rounded-Light.otf");
        font-style: normal;
        font-weight: 300;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Thin.otf");
    font-style: normal;
    font-weight: 200;
}

@font-face{
    font-family: SF-Compact-Rounded;
    src: url("fonts/SF Compact/SF-Compact-Rounded-Ultralight.otf");
    font-style: normal;
    font-weight: 100;
}
.left-right-content{
    height: 93.5%;
    width: 100%;
    display:flex;
    margin:auto;
    gap:0;
}
.left-column{
    margin:0;
    width: 50%;
    display: inline-flex;
}
.left-content{
    margin: auto;
    padding: 0 100px;
}
.right-column{
    width: 50%;
    height: 100%;
    margin:0;

    display: inline-flex;
}

.right-content{
    margin:auto;
}
.right-column img{
    padding: 0;
    margin: auto;
    width: 50vh;
    display: flex;
}
.left-column h1{
    margin:auto;
    padding: 0;
    color: #414040;
    text-align: left;
    font-family: Russo One;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.left-column p{  
    width: 85%;
    margin:0;
    padding: 0;
    font-family: SF-Compact-Rounded, sanserif;
    font-size: 1.025rem;
    font-style: normal;
    font-weight: 300;
    line-height: 95%; /* 16px */


    flex-direction: column;
    justify-content: left;
    flex-shrink: 0;
}

.header-logo{
    width: 90%;
}


.about-mine-line{
    width: 100%;
    margin-left: -12.5px;
    padding: 0;
}

